
# ROS2 build folders
build/
install/
log/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Large ML models
*.pt
*.onnx
*.engine

# Datasets
perception/datasets/
kiss-icp/
src/m-explore-ros2/
src/roboclaw_hardware_interface/
src/roboclaw_serial/
